{% if isEditable %}
    <div class="cms-block-editable" data-modal-target="#modal_{{ block.id }}">
        {{ block.richContent|raw }}
    </div>
    {{ render(controller('Fabz29CmsBundle:Block:edit', {keyName : block.keyName})) }}
{% else %}
    {{ block.richContent|raw }}
{% endif %}



